.wd-ellipsis-button {
  height: 40px;
  background-color: lightgray;
  border: none;
  border-radius: 4px;
}

.wd-red-button {
  background-color: red;
  border: none;
  height: 40px;
  width: 130px;
  border-radius: 4px;
  color: white;
}

.wd-130px-button {
  width: 130px;
  height: 40px;
  background-color: lightgray;
  color: black;
  border: none;
  border-radius: 4px;
}